build
node_modules
docs
publish
.env
.husky
.nohup
.swc
*/lib
*/dist
*/dev-dist
*/yarn-error.log
test-results
playwright-report
*/nohup.out
*/yarn-error.log
lib/coverage
react/coverage
data-browser/coverage
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
**/.trunk/*
