# SPDX-FileCopyrightText: 2023 Joep Meindertsma <joep@ontola.io>
#
# SPDX-License-Identifier: CC0-1.0

/target
.env
trace-*.json
**/.temp
.DS_Store
.cargo
artifact
server/assets_tmp

# Local Netlify folder
.netlify
