@font-face {
  font-family: alata;
  src: url(/static/Alata-Regular.ttf);
}

body {
  font-family: alata;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
}

.propval {
  margin-bottom: 1rem;
}

.propertyLabel {
  font-size: .7rem;
  font-weight: bold;
}

.tpfForm input {
  width: 100%;
}

.tpfForm input[type=submit] {
  display: none;
}
