<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock title %} - Atomic Data</title>
    {% endblock head %}
</head>

<body>
    <div id="nav" class="navbar container grid-lg">
        <section class="navbar-section">
            <a href="/" class="navbar-brand mr-2">Atomic Data</a>
            <a href="/tpf" class="btn btn-link">/tpf</a>
            <a href="/validate" class="btn btn-link">/validate</a>
            <a href="/collections" class="btn btn-link">/collections</a>
            <a href="/path?path=https%3A%2F%2Fatomicdata.dev%2Fclasses%2FClass" class="btn btn-link">/path</a>
            <a href="/react" class="btn btn-link">atomic-react</a>
            <a href="https://docs.atomicdata.dev" class="btn btn-link">docs</a>
        </section>
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
</body>

</html>
