{% extends "base.html" %}
{% block title %}Collection{% endblock title %}
{% block content %}
  <div class="table-wrapper">
    <table class="table">
      <tr>
        <th class="propval">
          <b class="propertyLabel">
            <span class="tooltip tooltip-right" data-tooltip="The URL of the resource" >Subject</a>
          </b>
        </th>
        {% for property in header -%}
          <th class="propval">
            <b class="propertyLabel">
              <a class="tooltip tooltip-left" data-tooltip="{{ property.description }}" href="{{ property.subject }}">{{ property.shortname }}</a>
            </b>
          </th>
        {%- endfor %}
      </tr>
      {% for resource in resources -%}
        <tr>
          <td>
            <b>
              <a href="{{ resource.subject.value }}">{{ resource.subject.value_html | safe }}</a>
            </b>
          </td>
          {% for property in header -%}
            <td>
              {% if resource[property.shortname] %}
                {{ resource[property.shortname].value_html | safe }}{% else %}.{% endif %}
            </td>
          {%- endfor %}
        </tr>
      {%- endfor %}
    </table>
  </div>
  <div class="container grid-lg">
    <em>You're looking at an <a href="https://atomicdata.dev/classes/Collection">Atomic Collection</a>. You can filter and sort these by passing query parameters.</em>
    <em>You can use HTTP content negotation to fetch this resource as JSON, JSON-LD, AD3 or Turtle. You can also try putting .json, .jsonld, .ttl or .ad3 behind the URL.</em>
  </div>
{% endblock content %}
