{% macro input(label, type="text") %}
    <label>
        {{ label }}
        <input type="{{type}}" />
    </label>
{% endmacro input %}

<!-- Requires a Resource -->
{% macro propvals(vector) %}
{% for propval in vector -%}
<div class="propval">
  <b class="propertyLabel">
    <a class="tooltip" data-tooltip="{{ propval.property.description }}" href="{{ propval.property.subject }}">{{ propval.property.shortname }}</a>
    <!-- <span> </span> -->
    <!-- <a href="/delta?subject={{ propval.subject }}&property={{ propval.property.subject }}&value={{ propval.value }}">edit</a> -->
  </b>
  <br/>
  {{ propval.value_html | safe }}
</div>
{%- endfor %}
{% endmacro propvals %}
