{% extends "base.html" %}
{% block title %}TPF{% endblock title %}
{% block content %}
<div class="container grid-lg">
  <p>
    This is a <a href="https://docs.atomicdata.dev/core/validations.html">Validation</a> endpoint for the <a
      href="https://docs.atomicdata.dev/core/serialization.html">AD3 data format</a> and <a
      href="https://docs.atomicdata.dev/schema/intro.html">Atomic Schema</a>.
  </p>
  <p>
    It checks if the data is serialized correctly, if the properties are fetchable as Atomic Data, if the DataTypes match and if the required Props are there.
  </p>
  <form method="GET" action="/validate">
    <textarea id="ad3" placeholder="Insert your AD3 here" name="ad3" rows=10>{{ ad3 }}</textarea>
    </br>
    <input type="submit" value="validate!" />
  </form>
  {{ report }}
</div>
{% endblock content %}
