.blogWrapper {
  padding: 1rem;
}

.blogWrapper > picture > img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: var(--theme-border-radius);
}

.publishDate {
  color: var(--theme-color-text-light);
  margin-bottom: 2rem;
}

.content {
  max-width: 70ch;
  margin: auto;
}

.h1 {
  margin-top: 0.5em;
}
