<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <title>{% block title %}{% endblock title %} - Atomic Data</title>
    {% endblock head %}
</head>

<body>
    <div id="nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://docs.atomicdata.dev">Docs</a>
            </li>
            <li>
                <a href="/tpf">TPF</a>
            </li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        <em>Powered by an early pre-alpha of the <a href="https://github.com/joepio/atomic">Atomic library for
                Rust</a>.</em>
        <em>Check out the <a href="https://docs.atomicdata.dev/">Atomic Data docs</a>.</em>
        {% endblock footer %}
    </div>
</body>

</html>
