<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock title %} - My Webpage</title>
    {% endblock head %}
</head>

<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        <em>Powered by an early pre-alpha of the <a href="https://github.com/joepio/atomic">Atomic library for
                Rust</a>.</em>
        <em>Check out the <a href="docs.atomicdata.dev/">Atomic Data docs</a>.</em>
        {% endblock footer %}
    </div>
</body>

</html>
