{% extends "base.html" %}
{% block title %}TPF{% endblock title %}
{% block content %}
<p>
  This is a <a href="https://linkeddatafragments.org/specification/triple-pattern-fragments/">Triple Pattern
    Fragments</a> endpoint.
  It lets you query the store of this server by subject, property and / or value.
  You can use the Accept header to get machine-readable AD3 results.
</p>
<form method="GET" action="/tpf">
  <fieldset>
    <label for="subject">subject</label> <input id="subject" name="subject" type="url" value="{{ subject }}" />
    <label for="property">property</label> <input id="property" name="property" type="url" value="{{ property }}" />
    <label for="value">value</label> <input id="value" name="value" value="{{ value }}" />
  </fieldset>
  <p><input type="submit" /></p>
</form>
<table style="width:100%">
  <tr>
    <th>Subject</th>
    <th>Property</th>
    <th>Value</th>
  </tr>
  {% for atom in atoms -%}
  <tr>
    <td><a href="{{ atom.subject }}">{{ atom.subject }}</a></td>
    <td><a href="{{ atom.property }}">{{ atom.property }}</a></td>
    <td>{{ atom.value }}</td>
  </tr>
  {%- endfor %}
</table>
{% endblock content %}
